.match__container {
    grid-template-columns: repeat(3, 320px);
    column-gap: .5rem;
    justify-content: center;
}

.match__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    border-radius: 1.25rem;
}

.match__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.match__box {
    display: flex;
    justify-content: center;
    column-gap: .5rem;
}

.match__group {
    display: grid;
    align-items: flex-start;
    row-gap: .5rem;
}

.match__data {
    display: flex;
    column-gap: 0.5rem;
}

.match .bx-badge-check {
    font-size: 1rem;
    color: var(--title-color);
}

.match__name {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.match__level {
    font-size: var(--tiny-font-size);
}

.br {
    border-radius: 10px;
    max-width: 73%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*============== BREAKPOINTS =============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .match__container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
    }

    .br {
        border-radius: 10px;
        max-width: 90%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .match__container {
        grid-template-columns: max-content;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .match__container {
        grid-template-columns: 1fr;
    }

    .match__content {
        padding: 1.5rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .match__box {
        column-gap: 1.25rem;
    }

    .match__name {
        font-size: var(--small-font-size);
    }
}