.league__container {
    justify-content: center;
}

/*---------------------table----------------------*/
.league-col-1 {
    flex-basis: 10%;
}

.table {
    padding: 10px 10%;
}

.table-container {
    margin-left: auto;
    margin-right: auto;
}

.table li {
    border-radius: 5px;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 5px;
}

.table-row {
    background-color: #afafac;
    color: #fff;
    font-weight: var(--font-normal);
}

.table-row-head {
    background-color: #cd7f32;
    box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: var(--font-semi-bold);
}

.table-row1 {
    background-color: #ffd700;
    color: #fff;
    font-weight: var(--font-normal);
}

.col-1 {
    flex-basis: 5%;
}

.col-2 {
    flex-basis: 45%;
}

.col-3 {
    flex-basis: auto;
}

.col-4 {
    flex-basis: auto;
}

.col-5 {
    flex-basis: auto;
}

.col-6 {
    flex-basis: auto;
}

.col-7 {
    flex-basis: auto;
}

h3 {
    font-size: var(--h3-font-size);
}

/*============== BREAKPOINTS =============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .league__container {
        grid-template-columns: max-content;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .league__container {
        grid-template-columns: 1fr;
    }

    h3 {
        font-size: var(--normal-font-size);
    }
}

@media screen and (max-width: 576px) {
    .league__container {
        grid-template-columns: 1fr;
    }

    .table {
        padding: 0;
    }

    h3 {
        font-size: var(--small-font-size);
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    h3 {
        font-size: var(--smaller-font-size);
    }
}