.footer {
    background: #000000;
    position: relative;
    overflow: hidden;
}

.footer__container {
    padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
    color: white;
}

.footer__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1);
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.footer__link {
    color: #999999;
    transition: all 0.2s ease;
    font-size: var(--small-font-size);
}

.footer__link:hover {
    color: #ffffff;
    opacity: 1;
}

.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link {
    color: #999999;
    font-size: 1.5rem;
    padding: 0.5rem;
    display: inline-flex;
    transition: all 0.2s ease;
}

.footer__social-link:hover {
    color: #ffffff;
    transform: translateY(-2px);
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: var(--smaller-font-size);
}

/*============== BREAKPOINTS =============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .footer__social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}